.navbar{
    padding: 16px;
    background-color: black;
    color: white;
}

.nav-link{
    color: white;
    margin-left: 20px;
    transition: color 0.3s, font-size 0.1s;
}

.nav-link:hover{
    color: white;
    font-size: 1.1em;
}

.nav-link:active, .nav-link:focus {
    color: white;
}

.navbar-toggler {
    border-color: white;
  }

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.brand{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size:30px;
    margin-left: 20px;
}